.wrapper {
    height: 100vh;
}

.login {
    width: 300px;
    padding: 20px;
    height: min-content;
    border-radius: 5px;
    color: black;
    background-color: rgb(238, 241, 243);
}

.footerCont {

    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    gap: 2rem;
    padding: 0 0rem;



}

.footer1 {
    background-color: rgba(0, 0, 0, 0.2);

}

.a1 {
    text-decoration: none;
}